head
    title Torrents
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://cdn.tailwindcss.com") 
    script(src='https://unpkg.com/gridjs/dist/gridjs.umd.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js")
    link(rel="stylesheet", href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css")